<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Balance</servlet-name>
        <servlet-class>sf.Balance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deposit</servlet-name>
        <servlet-class>sf.Deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer</servlet-name>
        <servlet-class>sf.Transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpPicker</servlet-name>
        <servlet-class>sf.OpPicker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerExtrato</servlet-name>
        <servlet-class>sf.VerExtrato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Balance</servlet-name>
        <url-pattern>/Balance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposit</servlet-name>
        <url-pattern>/Deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpPicker</servlet-name>
        <url-pattern>/OpPicker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerExtrato</servlet-name>
        <url-pattern>/VerExtrato</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
